
.social-icons .social {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.15);
    /* color: white; */
    color: #555;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 10px;
    transition: .3s ease;
}

.social:hover {
    background: white;
    color: #5e2be9;
    transform: translateY(-5px);
}

.footer-list {
    list-style: none;
    padding-left: 0;
    color: #555 ;

}

.footer-list li {
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.9;
    
}

.footer-list a {
    color: #555;
    text-decoration: none;
    opacity: 0.9;
    transition: .3s;
}

.footer-list a:hover {
    opacity: 1;
    padding-left: 5px;
}

#footer::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 6px;
    background: white;
    border-radius: 50px;
}