.exp-title {
    color: #5e2be9;
    font-size: 45px;
}

/* CARD */
.exp-card {
    background: #ffffff;
    border-radius: 25px;
    padding: 35px;
    box-shadow: 0 12px 45px rgba(0,0,0,0.08);
    border: 1px solid #eaeaea;
    max-width: 1100px;
    transition: .3s ease;
}

.exp-card:hover {
    transform: translateY(-10px);
}

/* IMG */
.exp-img-wrapper {
    overflow: hidden;
    border-radius: 18px;
    cursor: pointer;
    transition: .3s ease;
}

.exp-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 18px;
    transition: .4s ease;
}

.exp-card:hover .exp-img {
    transform: scale(1.08);
}

/* LIST */
.exp-list {
    padding-left: 20px;
}

.exp-list li {
    margin-bottom: 6px;
    font-size: 14px;
    color: #555;
}

/* BUTTON */
.btn-view-exp {
    background: linear-gradient(90deg, #5e2be9, #8b5cf6);
    padding: 10px 25px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    transition: .3s ease;
}

.btn-view-exp:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(94, 43, 233, 0.3);
}